.modalContainer {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  animation: fadeIn 500ms;
  position: relative;
  min-height: 50vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.header {
  padding: 0.5rem;
  font-size: 1.7rem;
  font-weight: 700;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30vh;
}

.addOns {
  font-size: 0.8em;
}

.addOns .items {
  padding-left: 0;
  list-style-type: none;
  list-style-position: inside;
}

.addOns .items div {
  font-style: italic;
}

.productList {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-height: 30vh;
  overflow-y: scroll;
  background-color: #eee;
}

.product {
  position: relative;
  background-color: #e9e9e9;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.editButton {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .modalContainer {
    align-items: center;
  }

  .modal {
    height: 50vh;
    width: 40vw;
  }

  .body {
    margin-bottom: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
