.modalContainer {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  animation: fadeIn 500ms;
  position: relative;
  height: 90vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.scrollable {
  height: 80vh;
  overflow-y: scroll;
}

.header {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* height: 60vh; */
}

.image {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image > img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.name {
  font-size: 2rem;
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
}

.receiverForm {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.receiverForm input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: 1px solid gray;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.counter button {
  padding: 2rem;
  background-color: transparent;
  font-size: 4rem;
  font-weight: 700;
}

.counter input {
  border: none;
  width: 30%;
  text-align: center;
  font-size: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.errorMessage {
  color: #c00a27;
  font-size: 1.2rem;
}

.successMessage {
  color: mediumseagreen;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.editButton {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 768px) {
  .modalContainer {
    align-items: center;
  }

  .modal {
    height: 90vh;
    width: 30vw;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .body {
    margin-bottom: 1rem;
  }
  .image {
    width: 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
