@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.modalHeader {
  display: flex;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.fieldGroup {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.fieldGroup > .react-tel-input {
  width: 50%;
}

.emailField {
  padding: 10rem;
  color: #666666;
  outline: none;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-weight: normal;
  border-radius: 50px;
}

.phoneCountryCodeGroup {
  display: flex;
  position: relative;
}

.phoneCountryCode {
  height: 50px;
  width: 45px;
  left: 67%;
  top: -11%;
  position: absolute;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  margin-top: 14px;
  margin-bottom: 20px;
  color: red;
}

.switchMethodButton {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.submitButton {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  height: 34px;
}

.closeButton {
  font-size: 3rem;
}
