.modalTitle {
  font-size: 2rem;
}

.modalHeader {
  display: flex;
  justify-content: center;
}

.fieldGroup {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.fieldGroup > .react-tel-input {
  width: 50%;
}

.emailField {
  padding: 10rem;
  color: #666666;
  outline: none;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-weight: normal;
  border-radius: 50px;
}

.phoneField {
  margin-left: 2.5rem;
}

.phoneCountryCodeGroup {
  display: flex;
  position: relative;
}

.phoneCountryCode {
  height: 50px;
  width: 45px;
  left: 67%;
  top: -11%;
  position: absolute;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  margin-top: 14px;
  margin-bottom: 20px;
  color: red;
}

.switchMethodButton {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.submitButton {
  width: 100%;
  border-radius: 5px;
}

.closeButton {
  font-size: 3rem;
}
