@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

p,h1,h2,h3,h4,h5{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.buttonSweetAlert{
  width: 100%;
  border-radius: 10px !important;
}
.customIconColor{
  border-color: #000000 !important;
  color: #000000 !important;
}
.modalHeader {
  display: flex;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 20px 0px !important;
}

.fieldGroup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
 border: 1px solid rgba(141, 141, 141, 0.44);
 border-radius: 10px;
}

.fieldGroup > .react-tel-input {
  width: 50%;
}

.emailField {
  width: 100%;
  padding: 0.5rem;
  color: #666666;
  outline: none;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-weight: normal;
  border-radius: 7px;
  background-color: transparent;
}

.phoneCountryCodeGroup {
  display: flex;
  position: relative;
}

.phoneCountryCode {
  height: 50px;
  width: 45px;
  left: 67%;
  top: -11%;
  position: absolute;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  margin-top: 14px;
  margin-bottom: 20px;
  color: red;
}

.switchMethodButton {
  margin-top: 10px;
  text-align: center; 
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3rem;
}

.submitButton {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.closeButton {
  font-size: 3rem;
}
.phoneField {
  height: 40px;
  border: none;
  background-color: transparent;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
.dropDownMenu{
  border: none !important;
  border-radius: 7px !important;
  background-color: transparent !important;

}
.placeholderDropDown{
  padding-left: 5px !important;
}
.arrowIcon{
  margin-top: 5% !important;
}
.menuDropDown{
  width: 82vw !important;
  border-radius: 10px;
}
.swal2-styled.swal2-confirm{
  background-color: red !important;
}

@media (min-width: 1200px) { 
  .menuDropDown{
    width: 100% !important;
  }
  .phoneField {
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
  }
 }