.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(80% - 1rem);
}


.modal-title { color: #c00a27; }

.use-select{ 
  background-color: #c00a27;
  width: 50%;
  font-size: 12;
  height: 40;
  border-radius: 0;
 }
.un-select{ 
  background-color: #beb9ba; 
  width: 50%;
  font-size: 12;
  height: 40;
  border-radius: 0;
}

.profile-dashboard{background-color: #c00a27;}

.customer-group-name{ color: #c00a27; }