.menu-category > .categories {
    flex-wrap: wrap !important;
}

.container-product {
    margin: 0 !important;
}

@media (min-width: 1200px) {
    #masthead {
        width: 72%;
        max-width: 72%;
        font-size: 14px !important;
    }
    #menu-home-5-and-7-main-menu {
        margin-left: 20px;
    }
    #basket-icon-menu {
        float: right !important;
    } 
    #site-navigation {
        width: 100%;
    }
    #cart-icon {
        float: right !important;
    }
}

@media (max-width: 900px) {
    #masthead {
        margin-left: -5%;
        width: 105% !important;
        max-width: 105% !important;
    }
}

@media (max-width: 800px) {
    #full-website {
        display: flex;
        justify-content: center;
        position: relative;
    }
}

@media (min-width: 1200px) {
    ul.products li.product {
        clear: none;
        width: 47%;
        float: left;
        height: 210px;
        max-height: 210px;
        margin-bottom: 20px !important;
    }
    ul.products li.product:nth-child(odd) {
        margin-left: 6%;
    }
    .logo {
        height: auto !important;
        width: 150px !important;
    }
}

ul.products li.product .product-content-wrapper, .products .owl-item>.product .product-content-wrapper {
    border: none !important;
}

ul.products li.product .product-image-wrapper, ul.products li.product .product-content-wrapper, .products .owl-item>.product .product-image-wrapper, .products .owl-item>.product .product-content-wrapper {
    border: none !important;
}