.passwordField {
  position: relative;
}

.showHideIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
