@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.filter {
  position: relative;
  -webkit-filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
  filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
}
.filter::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
}
.buttonSweetAlert {
  width: 100%;
  border-radius: 10px !important;
  font-size: 1.4em !important;
}
.fontTitleSweetAlert {
  color: black !important;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px !important;
}
.myFont {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.dropDownMenu {
  border: none !important;
  border-radius: 7px !important;
  background-color: transparent !important;
}
.placeholderDropDown {
  padding-left: 5px !important;
}
.arrowIcon {
  margin-top: 5% !important;
}
.menuDropDown {
  width: 82vw !important;
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .menuDropDown {
    width: 100% !important;
  }
  .phoneField {
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
  }
}
