.outletNameSelect {
  border: none;
  background-color: transparent;
}

.logo {
  width: 45px;
  object-fit: contain;
  margin-top: -10px;
  margin-bottom: -10px;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .logo {
    height: auto !important;
    max-width: 4.5rem !important;
  }
}

@media only screen and (min-width: 1201px) {
  .outlet {
    margin-left: 5px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: flex;
  }
}

@media only screen and (max-width: 1200px) {
  .outlet {
    display: flex;
    margin-left: 5px;
    font-weight: bold;
    position: absolute;
    top: 38px;
    left: -5px;
    text-align: center;
    width: 100%;
    justify-content: center;
  }
}