.select,
.input {
  padding: 0.473em 1.2em;
  color: #666666;
  border: 1px solid #cccccc;
  background-color: transparent;
  font-weight: normal;
  border-radius: 5px;
}

.rounded {
  border-radius: 50px;
}

.dropDownMenu{
  border: none !important;
  border-radius: 7px !important;
  background-color: transparent !important;
}
.DropdownMenuCustom{
  left: -22px !important;
}
.dropDownItem{
  background-color: white !important;
}

