.backButton {
  position: absolute;
  left: 10px;
  top: 20px;
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 16px;
}

.closeButton > span {
  font-size: 3rem;
}

.modalTitle {
  font-size: 2rem;
}
